/*!
 * Crosslinks - Maintain a Crosslinks
 * Version: 2.0.2
 * Build date: 2016-06-07
 */

#crosslinks-grid-links .action-buttons li {
  float: left;
  line-height: .7;
  margin-right: 5px;
  font-size: 1.1em;
}
